<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app> 
	<servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>prueba</servlet-class>
    </servlet>
	<servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/servlets/servlet/prueba</url-pattern>
     </servlet-mapping>
     <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>SendMail</servlet-class>
     </servlet>
     <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/servlets/servlet/SendMail</url-pattern>
     </servlet-mapping>     
     <servlet>
        <servlet-name>TEXTO</servlet-name>
        <servlet-class>EnviaTexto</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>TEXTO</servlet-name>
        <url-pattern>/servlets/servlet/TEXTO</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>AVI</servlet-name>
        <servlet-class>EnviaAvi</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>AVI</servlet-name>
        <url-pattern>/servlets/servlet/AVI</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>MP3</servlet-name>
        <servlet-class>EnviaMp3</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>MP3</servlet-name>
        <url-pattern>/servlets/servlet/MP3</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>JDBC</servlet-name>
        <servlet-class>JDBCServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>JDBC</servlet-name>
        <url-pattern>/servlets/servlet/JDBC</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>HelloWorldExample</servlet-name>
        <servlet-class>HelloWorldExample</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>HelloWorldExample</servlet-name>
        <url-pattern>/servlets/servlet/HelloWorldExample</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/servlets/servlet/Hello</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hola</servlet-name>
        <servlet-class>Hello</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hola</servlet-name>
        <url-pattern>/servlets/servlet/Hola</url-pattern>
    </servlet-mapping>
</web-app>
